.sec  {
	color: white;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-around;
}

.sec img {
	width: 35%;
	object-fit: contain;
	align-self: self-end;
}

.sec h5 {
	align-self: center;
}

@media screen and (max-width: 545px) {
	.sec{
	padding: 19px;
	}
}

@media screen and (max-width: 325px) {
	.sec h2 {
    font-size: 2.5em;
	}
}