*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	list-style: none;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(#1D2E62, #7597de);
	font-family: 'Nunito Sans', sans-serif;
	font-size: calc(0.5rem + 1vw);
}

section{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

section::before{
	content: '';
	position: absolute;
	bottom: 8px;
	width: 100%;
	height: 218px;
	background: linear-gradient(to top, #1E265B, transparent);
	z-index: 1000;
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

section img#moon{
	mix-blend-mode: screen;
}

section img#mountains_front{
	z-index: 10;
}

#button {
	text-decoration: none;
	padding: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);
}

#button:hover {
	color: #384782;
}

@media screen and (max-width: 330px) {
  #button {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #ffffff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);

  }
}
.sec{
	position: relative;
	padding: 30px;
	background: #1E265B;
	margin-top: -10px;
	z-index: 1010;
}

.sec h2{
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #fff;
	align-self: center;
}

.sec p{
	font-size: 1em;
	color: #fff;
}

