.projects {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.projects h2{
	font-size: 2.5em;
  color: #fff;
	z-index: 1015;
}

.project_card {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 420px;
}